*.pyc
*~

/sleep/mesh/test

*.pvd
*.vtu
*.txt
*.log

*.png
*.json

*.msh
*.h5

*.ipynb
*.csv


### vscode ###
.devcontainer/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

Dockerfile