*.pyc
*~

/sleep/mesh/test

*.pvd
*.vtu
*.txt
*.log

*.mesh
*.h5
### vscode ###
.devcontainer/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

Dockerfile