*.pyc
*~

/sleep/mesh/test

*.pvd
*.vtu

*.txt
*.png
*.json
*.h5
*.log
*.msh
*.csv

### vscode ###
.devcontainer/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

Dockerfile

#spyder
.spyproject/*

#fenics
sleep/fbb_DD/jitfailure*
sleep/scripts/jitfailure*

#outputs
*.pvtu

#batch scripts
*.sh

#notebooks
*.ipynb